body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #D65045;
}

@font-face {
    font-family: MonumentExtended-Ultrabold;
    src: url(/font/MonumentExtended-Ultrabold.otf);
}

#navbar {
    display: flex;
    width: 100vw;
    align-items: center;
    height: 10vh;
}

#h2 {
    font-size: 2em;
    font-weight: bold;
    font-family: MonumentExtended-Ultrabold;
    margin-right:auto;
}

#contact {
    margin-left:auto;
    padding: 0 5vh;
    text-decoration: none;
    font-size: 1.3em;
    color: black;
    font-weight: bold;
    font-family: MonumentExtended-Ultrabold;
}

hr {
    background-color: black;
    border: none;
    height: 1px;
}

#ico {
    width: 4vh;
    height: 3.7vh;
    margin: 0 1vh;
    padding: 0 0 0 3vh;
}