body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #D65045;
    height: 100vh;
    font-family: MonumentExtended-Ultrabold;
}

@font-face {
    font-family: MonumentExtended-Ultrabold;
    src: url(/font/MonumentExtended-Ultrabold.otf);
}

#navbar {
    display: flex;
    width: 100vw;
    align-items: center;
    height: 10vh;
}

#h2 {
    font-size: 2em;
    font-weight: bold;
    margin-right:auto;
}

#contact {
    margin-left:auto;
    padding: 0 5vh;
    text-decoration: none;
    font-size: 1.3em;
    color: black;
    font-weight: bold;
}

hr {
    background-color: black;
    border: none;
    height: 1px;
}

#ico {
    width: 4vh;
    height: 3.7vh;
    margin: 0 1vh;
    padding: 0 0 0 3vh;
}

main {
    display: flex;
    height: 80vh;
    align-items: left;
    flex-direction: column;
    margin: 0 0 0 15vh;

}

#text {
    font-size: 1.1em;
    gap: 5vh;
    margin: 3vh 0 10vh 0;
}

p {
    padding-bottom:3vh ;
}

#p1 {
    font-size: 2em;
}

#explore {
    width: 80vh;
    height: 10vh;
    border: none;
    border-radius: 1vh;
    font-size: 2em;
    background-color: #69251f;
    cursor: pointer;
    font-family: MonumentExtended-Ultrabold;
    transition: 0.6s;
}

#explore:hover {
    background-color: #643733;
}